:root {
  --main-color: #9a13b8;
  --main-color-50: #9a13b8dd;
  --main-text-color: #333;

  --light-background: #f9f9f9;
  --light-box-background: #f0f0f0;

  --dark-background: #151515;
  --dark-box-background: #202020;

  --color-: #6f87d6;
  --color-2: #92c2ce;
  --color-3: #bf35ba;
  --color-4: #ff6584;
  --color-5: #6ed0e8;
  --color-pink: #d35671;
  --color-pink-50: #d3567173;
  --color-yellow: #e9bf30;
  --color-yellow-b: #ffc400;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "NormalBatang-Regular";
  src: url("../fonts/NormalBatang-Regular.eot");
  src: local(※), url("../fonts/NormalBatang-Regular.woff") format("woff");
}

@media (max-width: 699px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1000px) and (max-width: 1999px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2000px) and (max-width: 2399px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 28px;
  }
}

body {
  background-color: #fff;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu,
    roboto, noto, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.65;
  margin: 1.25rem;
}

img {
  max-width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.page-loader {
  z-index: 100001;
  overflow: hidden;
  transition: all 0.3s linear;
  transform: translateY(0);
}

.page-loader-toggle {
  transform: translateY(20vh);
  transition: none;
}

main,
.mobile-menu,
footer {
  display: none;
}

a {
  color: var(--main-text-color);
}

strong {
  font-weight: 600;
}

figure {
  margin: 2em 0;
}

figure.large {
  margin: 2.5em -4em;
}

figure.large figcaption {
  margin: 0.5em 5.5em 0;
}

figcaption {
  font-size: 0.76em;
  font-style: italic;
}
/* 
#clock {
  font-family: "time";
} */

hr {
  margin: 2.5em 0;
}

a.button,
.button {
  text-decoration: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  border: 2px solid #5c5a53;
  border-top-color: rgb(163, 154, 143);
  border-left-color: rgb(163, 154, 143);
  display: inline-block;
  margin: 1em 0.5em;

  letter-spacing: -0.2px;
  transition: opacity 0.125s ease-in;

  cursor: pointer;
}

a.button:focus,
a.button:active,
a.button.pressed {
  border: 2px solid rgb(163, 154, 143);
  border-top-color: #5c5a53;
  border-left-color: #5c5a53;
  background: var(--light-background);
}

a.button:hover,
.button:hover {
  opacity: 0.5;
}

.button-container a.button {
  background: transparent;
}

.button-container a.button:active,
.button-container a.button:focus {
  background: var(--light-background);
}

.newsletter--button {
  padding: 0;
}

.newsletter--button .button {
  padding: 0.875rem 2.5rem;
  background-color: #cbcbcb;
  border: 2px dashed #5c5a53;

  font-weight: 500;
}

header,
main {
  text-align: center;
}

.dark-switch {
  cursor: pointer;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;

  border: 2px solid #5c5a53;
  border-top-color: rgb(163, 154, 143);
  border-left-color: rgb(163, 154, 143);

  padding: 0.375rem 0.75rem;
  margin: 0;

  font-size: 1.5rem;
}

#menu__box .dark-switch {
  position: relative;

  font-size: 2rem;
  margin: 3rem 0;

  border: 2px solid #5c5a53;
  border-top-color: rgb(163, 154, 143);
  border-left-color: rgb(163, 154, 143);
}

.small,
th {
  font-size: 0.875rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.small {
  margin: 0;
}

.x-small {
  font-size: 82.5%;
  letter-spacing: 0.03px;
}

.archive-portal {
  position: absolute;
  top: 0.625rem;
  right: 1.25rem;
}

.medium {
  font-size: 1.375rem;
}

table {
  font-size: 1.25rem;
}

.extralarge {
  font-size: 3rem;
  color: var(--main-text-color);
  letter-spacing: 0;
}

h1.extralarge {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  /* font-family: "NormalBatang-Regular"; */
  margin: 2rem 0 0.5rem 0;
}

.subcaption {
  text-decoration: underline;
  text-underline-position: under;
}

.subcaption:hover {
  text-decoration: none;
}

h1.extralarge a,
.extralarge a {
  color: #5c5a53;
  text-shadow: rgb(163, 154, 143) 1px 2px 0;
}

h1.extralarge a.title {
  text-decoration: none;
}

h1.slogan {
  width: 65%;
  margin: 0 auto 1rem auto;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  opacity: 1;
}

h3.slogan--caption {
  font-size: 1.25rem;
  letter-spacing: -0.2px;
}

h1.slogan svg {
  width: inherit;
  height: inherit;
}

h2.extralarge {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0 auto 2rem;

  letter-spacing: -0.25px;
  text-align: center;
}

h3.medium {
  font-weight: 600;
  margin: 0 auto 1rem;

  letter-spacing: -0.25px;
  text-align: center;
}

h2.archive--extralarge {
  font-weight: 600;
  font-size: 1.875rem;
  margin-top: 5rem;
  margin-bottom: 3.5rem;

  letter-spacing: -0.25px;
  text-align: center;
}

.portal {
  display: inline-block;
  margin: 1em 0;
  width: 440px;
  height: 142px;
  /* border-radius: 25px; */
  background: url("");
  background-size: 100% 100%;
}

.news-container {
  margin: 0.75rem 0 2.5rem 0;
}

#about-box .small,
.body-box .small {
  text-align: center;
  margin: 0 0 2.5rem 0;
  line-height: 1;
}

nav#main ul {
  list-style-type: none;

  margin: 1.75rem 0 0 0;
  padding: 0;
}

nav#main li {
  display: inline-block;
  margin: 0;
  margin-top: 0.25em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav#main a {
  text-decoration: none;
}

nav#main a span.emoji {
  display: inline-block;

  height: 108px;
  width: 108px;
  font-size: 2.75em;
  border-radius: 1.25rem;

  margin: 0 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid rgb(163, 154, 143);
  border-top-color: #5c5a53;
  border-left-color: #5c5a53;
}

/* slide */

.slider,
.slider-2 {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 320px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: auto;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: auto;
  position: absolute;
  width: 100%;

  margin: 0 auto;
  text-align: center;
}

.slide img {
  width: 260px;
  height: 320px;
  object-fit: contain;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #faddb7;
}

.slide:nth-of-type(2) {
  background: #baeaba;
}

.slide:nth-of-type(3) {
  background: #b3d8ff;
}

.slide:nth-of-type(4) {
  background: #cdb3fb;
}

.slide_buttons {
  text-align: center;
}

a.slide_btn {
  color: #cbcbcb;
  font-size: 3rem;
  line-height: 0.75;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: #333;
  cursor: pointer;
}

.directional_nav {
  height: auto;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -11.5rem;
}

.previous_btn {
  bottom: 0;
  left: 1.25rem;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 1.25rem;
  top: 0;
}

.previous_btn,
.next_btn {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

@media only screen and (max-width: 800px) {
  .previous_btn {
    left: 1rem;
  }
  .next_btn {
    right: 1rem;
  }

  .directional_nav {
    top: -13rem;
  }
}

/* newsletter body */

.newsletter--section {
  margin: 1.5rem 0;
}

/* mobile menu */

.mobile-menu {
  display: block;
  position: absolute;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  content: " ";
  transform: rotate(45deg);
  height: 2px;
}

#menu__toggle:checked + .menu__btn > span::before {
  content: " ";
  top: 0;
  height: 2px;
  transform: rotate(0deg);
  background-color: #333;
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  height: 2px;
  transform: rotate(90deg);
  background-color: #333;
}

#menu__toggle:checked ~ #menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;

  top: 1.375rem;
  right: 1.375rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  z-index: 10001;

  padding: 0.5rem;
  background: var(--light-background);
  color: #333;

  border-radius: 50%;
  border: 2px solid rgb(163, 154, 143);
  border-color: #998f8f;
  border-right-color: #48433a;
  border-bottom-color: #48433a;

  display: none;
  align-items: center;
  justify-content: center;

  transition: background 0.125s ease-in;
}

.menu__btn:hover {
  background: var(--light-box-background);
}

.menu__btn:focus,
.menu__btn:active,
.menu__btn.pressed {
  border: 2px solid rgb(163, 154, 143);
  border-top-color: #5c5a53;
  border-left-color: #5c5a53;
  background: var(--light-box-background);
}

.menu__btn > span::before {
  content: "메뉴";
  font-weight: 600;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 3rem;
  height: 4px;

  font-size: 1.25rem;
  line-height: 1.425;
  text-align: center;

  background-color: transparent;
  background-clip: initial;
}

.menu__btn > span::before {
  top: -16px;
  background-color: transparent;
}

.menu__btn > span::after {
  content: "";
  top: 16px;
  background-color: transparent;
}

#menu__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;

  margin: 3rem;

  top: 0;
  left: 100%;
  width: 85%;
  height: 85%;

  padding: 20%;

  background: var(--light-background);
  border: 1px solid rgb(163, 154, 143);
  border-top-color: #5c5a53;
  border-left-color: #5c5a53;

  list-style: none;

  z-index: 10;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  overflow-y: hidden;
}

#menu__box h1 {
  font-size: 0.875rem;
  font-weight: 400;

  text-align: center;
  word-wrap: anywhere;
}

#menu__box figure {
  position: absolute;
  top: 6rem;
  left: 6rem;

  opacity: 0.75;
}

#menu__box figure img {
  width: 15rem;
}

#menu__box .emoji img {
  width: 1.5rem;

  margin-top: -0.25rem;
  margin-right: 0.25rem;
}

#menu__box .emoji:hover {
  background: none;
}

#menu__box a {
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 2;
  color: #333;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#background-video iframe {
  display: none;
}
#background-video .play-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 0px;
  line-height: 0px;
  background: url(http://www.legacycitychurch.com/media/cover_art/Play%20Button%20Overlay/playbutton.png)
    center center no-repeat;
  background-size: 120px auto;
}

.play-btn {
  display: none;
}

/* nav#main a.archive {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
} */

.scroll-to-top {
  display: none;
  position: fixed;

  width: 2.5rem;
  height: 2.5rem;
  bottom: 1.5rem;
  right: 1.25rem;

  background-color: #222222d7;
  color: #fff;

  border-radius: 50%;
}

.scroll-to-top img {
  transform: translateY(-0.25rem);
}

nav#main a.archive span.emoji {
  background: url("");
  background-size: auto 100%;
  background-position-x: center;
  border-radius: 50%;
  border-color: #998f8f;
  border-right-color: #48433a;
  border-bottom-color: #48433a;
}

nav#main a.archive span.emoji svg {
  width: 4rem;
  height: 4rem;
}

nav#main a.archive span.emoji .archive--emoji {
  fill: #fff;
}

nav#main a.archive:active span.emoji,
nav#main a.archive:focus span.emoji {
  border-color: #48433a;
  border-right-color: #998f8f;
  border-bottom-color: #998f8f;
}

.toggle {
  display: none;
  display: none;
}

nav#main a.current span.emoji {
  background: var(--light-box-background);
}

nav#main span.section {
  display: block;
  text-align: center;

  font-weight: 500;
  margin-top: 0.375rem;
}

span.emoji,
.press,
.archive-press {
  transition: background-color 0.5s ease;
}

.press.button {
  font-weight: 300;
}

.archive-press {
  margin-bottom: 0.5em;
}

span.emoji:hover {
  background: var(--light-box-background);
}

.emoji img {
  width: 2.25rem;
}

.pilcrow {
  filter: grayscale(1);
}

mark {
  background: transparent;
  line-height: 1;
  margin-right: 0.5rem;
}

mark img {
  width: 1.5rem !important;
  margin-top: -0.375rem;
}

section {
  margin-top: 3em;
}

.hidden {
  display: none;
}

#info p {
  text-align: left;
  word-break: keep-all;

  margin: 0 0 2rem 0;
}

.body-box p:last-child {
  margin: 0;
}

#info p img {
  width: 100%;
}

#info .center {
  display: flex;
  justify-content: center;
}

.center img {
  width: 50% !important;
}

.quot {
  font-size: 90%;
  margin: 0.25rem 0 2rem 0 !important;
  opacity: 0.75;
}

.anchor {
  position: absolute;
}

.anchor img {
  width: 6rem;
}

#about-box {
  text-align: left;

  max-width: 960px;
  margin: 3rem auto 1.5rem;

  padding: 0 1rem;

  word-break: keep-all;
}

#about-box:last-child {
  margin-bottom: 0;
}

.body-box,
td .box {
  text-align: left;
  word-break: keep-all;

  border-radius: 1.25rem;
  border: 2px solid rgb(163, 154, 143);
  border-top-color: #5c5a53;
  border-left-color: #5c5a53;

  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 2rem 1.5rem 2rem;
}

#coloring-box {
  text-align: center;
  border-radius: 1.25rem;
  border: 2px solid rgb(163, 154, 143);
  border-top-color: #5c5a53;
  border-left-color: #5c5a53;

  max-width: 1026px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 1.75rem 1.5rem 3rem;

  word-break: keep-all;
}

.body-box {
  margin-bottom: 1.5rem;
}

.body-margin-0 {
  margin-bottom: 0;
}

.body-margin-first {
  margin-top: 6rem;
}

.body-margin-last {
  margin-bottom: 6rem;
}

.body-box:last-child {
  margin-bottom: 0;
}

.around--image--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;

  max-width: 1200px;
  margin: 1rem auto 0;
}

.around--image--wrapper:last-child {
  margin-bottom: 0.5rem;
}

.around--image--wrapper section {
  margin-top: 1em;
}

.around--image--box {
  border-radius: 1.5rem;
  border: 1px dashed rgb(163, 154, 143);
  border-bottom-color: #5c5a53;
  border-right-color: #5c5a53;

  padding: 1.25rem;

  width: 100%;
}

.around-list p:not(:first-child) {
  margin: 0.25rem auto !important;
}

.around--image--box p {
  font-size: 1.25rem;
  margin: 0.25rem auto !important;
}

.around--image--box .small {
  text-align: center;
  margin: 0 0 2.5rem 0;
}

.serif {
  font-family: "NormalBatang-Regular", serif;
  letter-spacing: -0.2px;
}

.box ul {
  margin-bottom: 1.5em;
  padding-left: 1em;
}

.box ul:last-of-type {
  margin-bottom: 0;
}

.box li {
  margin-bottom: 0.35em;
  padding-left: 0.25em;
}

.press,
.archive-press {
  cursor: pointer;
}

h2.hidden {
  display: none;
}

#offerings {
  grid-template-columns: 1fr 1fr;
  display: grid;
  max-width: 640px;
  margin: 3rem auto 1rem auto;

  font-size: 1rem;
  letter-spacing: 0.2px;
}

/*
#offerings div.offering:hover   {
        text-shadow: rgb(163, 154, 143) 1px 1px 1px;

    
}

#offerings div.offering:nth-child(1):hover {
    background: url('');
    background-size: auto 330px;
    background-position: 0% 0%;
}

#offerings div.offering:nth-child(2):hover {
    background: url('');
    background-size: auto 330px;
    background-position: -350px 0%;
}
#offerings div.offering:nth-child(3):hover {
    background: url('');
    background-size: auto 330px;
    background-position: -630px 0%;
}
*/
#offerings div.offering {
  border: 2px solid rgba(163, 154, 143, 0.5);
  border-top-color: #5c5a537e;
  border-left-color: #5c5a536e;
  background: var(--light-background);
  background-image: url();
  background-size: cover;
  background-blend-mode: screen;
  border-radius: 5px;
  margin: 0.5em 0.5em 0.5em;
  position: relative;
}

.offering svg {
  height: 1.375rem;
}

figure svg {
  height: 80px;
}

div.offering.inactive {
  opacity: 1;
}

div.offering.inactive a.button {
  border-color: #5c5a54;
  border: 2px dotted #5c5a54;
  background: transparent;
}

h3.regular,
b {
  font-weight: normal;

  text-transform: lowercase;
  font-size: 1.25em;
  margin: 0;
  border-bottom: 2px solid #5c5a54;
  padding: 7px 15px 7px 15px;
  position: relative;
}

#offerings h3 {
  font-weight: normal;

  text-transform: lowercase;
  font-size: 1.25em;
  margin: 0;
  border-bottom: 1px solid #5c5a545d;
  padding: 1rem 1.5rem 1rem 1.5rem;
  position: relative;
}

b {
  border: none;
  padding: 0;
  font-size: 1.08em;
}

#offerings p {
  margin-top: 0;
  margin-bottom: 4rem;
  padding: 1rem;
  text-align: left;
  text-transform: lowercase;
}

#about {
  display: block;
}

.button-container {
  margin: 0 auto;
  text-align: center;
}

#offerings a.button {
  padding: 0.5rem 0.75rem;
  margin: 1.25rem 0.5em;
}

footer {
  margin-top: 2rem;
  text-align: center;

  line-height: 1.8;
}

footer a,
.mobile-menu a {
  transition: opacity 0.125s ease-in;
}

footer a:hover,
.mobile-menu a:hover {
  opacity: 0.5;
}

#clock__box {
  background-color: var(--light-background);
  color: #666;
  display: inline-block;
  transition: 5s border-radius ease;
  border-radius: 100%;
  max-width: 1080px;
  padding: 6rem 10rem 4rem 10rem;

  font-size: 4rem;
  letter-spacing: -0.01px;
  line-height: 1.2;

  margin-bottom: 1rem;
  left: 0;
}

#footer__box {
  background-color: var(--light-background);

  display: inline-block;
  transition: 4s border-radius ease;
  border-radius: 100%;
  border: 1px solid #5c5a53;
  border-top-color: rgb(163, 154, 143);
  border-left-color: rgb(163, 154, 143);

  padding: 6rem 10rem 1rem 10rem;
}

header p.medium {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;

  margin: 1rem 0;
}

#logo {
  z-index: 1000;
  color: var(--main-text-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

blockquote.answer,
.answer {
  display: none;
  font-style: italic;
}

.caption {
  font-style: italic;
}

/* table container */
table {
  max-width: 100%;
  border-spacing: 0 1.25rem;
  border-collapse: separate;
  margin: 0;
}

th {
  padding: 0px;
}

.tablesorter-header-inner {
  display: block;
  margin: 0;

  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;

  text-underline-position: under;

  cursor: pointer;

  border-bottom: 1px dashed #757575;
  margin-right: 1.5rem;
  padding-bottom: 0.25rem;
}

.tablesorter-header {
}

/* .tablesorter-header-inner:after {
  content: "↓";

  margin-left: 0.25rem;
  font-size: 90%;
} */

td {
  margin: 0.625rem;
}

td img {
  display: block;
  width: 360px;

  margin-top: 0.5rem;
}

td,
th {
  text-align: left;
  overflow: hidden;

  word-wrap: break-word;
  word-break: break-all;
  vertical-align: top;
}

tr {
  text-align: center;
}

.cellTitle {
  text-align: left;
  padding: 4px 2rem 4px 0;
  width: 24ch;

  font-weight: 500;

  word-wrap: inherit;
  word-break: inherit;
}

.cellTitle a {
  text-decoration: none;
}

tr.history--image span {
  font-style: italic;
  font-size: 75%;
  opacity: 0.6;

  padding-right: 1rem;
}

tr.history--image .cellTitle {
  opacity: 0;
}

.d {
  display: none;
}

#apply {
  width: 100%;
  z-index: 10001;
}

#apply iframe {
  box-shadow: 10px 10px 50px var(--main-text-color);
  max-width: 95%;
}

body.dark {
  background: var(--dark-background);
  color: #ccc;
}

body.dark a,
body.dark #menu__box a {
  color: #ccc;
}

body.dark .menu__btn,
body.dark .scroll-to-top {
  background: #333;
}

body.dark .scroll-to-top img {
  filter: invert(1);
}

body.dark a.button,
body.dark .button-container a.button {
  border-color: #998f8f;
  border-right-color: #48433a;
  border-bottom-color: #48433a;
  background: transparent;
}

body.dark .offering a.button {
}

body.dark a.button:focus,
body.dark a.button:active,
.dark-switch.dark {
  border-color: #998f8f;
  border-left-color: #48433a;
  border-top-color: #48433a;
}

body.dark nav#main a span.emoji:hover {
  background: var(--dark-box-background);
}

body.dark nav#main a.archive span.emoji .archive--emoji {
  fill: #222;
}

/* body.dark .menu__btn {
  background: #595959;
}
body.dark .menu__btn > span,
body.dark .menu__btn > span::before,
body.dark .menu__btn > span::after {
  background: #cecece;
} */

body.dark .extralarge {
  color: #cecece;
}

body.dark .portal {
  background: url("");
  background-size: 100% 100%;
}

body.dark nav#main a span.emoji {
  background: #333;
  box-shadow: -6px -4px 12px rgba(0, 0, 0, 0.8), 4px 6px 12px rgba(0, 0, 0, 0.1);
}

body.dark nav#main a.current span.emoji {
  border: 2px solid #998f8f;
  border-top-color: #48433a;
  border-left-color: #48433a;
  background: #2c271e;
  background: var(--dark-box-background);
}

body.dark article,
body.dark #offerings div.offering {
  background: var(--dark-box-background);
}

/* body.dark #offerings div.offering {
  color: #333;
} */

body.dark #about-box p {
  background: var(--dark-background);
}

body.dark .archive-first-child,
body.dark .archive-first-child a {
  color: #000;
}

body.dark #clock__box,
body.dark #menu__box,
body.dark #footer__box {
  background: #2c271e;
  background: #171717;
  color: #ccc;

  box-shadow: -6px -4px 12px rgba(0, 0, 0, 0.15),
    4px 6px 12px rgba(0, 0, 0, 0.5);
}

body.dark svg {
  fill: #ccc;
}

body.dark .emoji img {
  filter: invert(1);
}

body.dark .previous-posts a:visited.button {
  color: #5e5e5e;
}

body.dark span.emoji:hover {
  background: #171513;
}

body.dark h1.extralarge a,
body.dark .extralarge a {
  color: #ccc;
  text-shadow: #5c5a53 -1px -2px 0;
}

body.dark .menu__btn > span,
body.dark .menu__btn > span::before,
body.dark .menu__btn > span::after {
  background-color: transparent;
  color: #fff;
  font-weight: 500;
}

body.dark #menu__toggle:checked + .menu__btn > span::before,
body.dark #menu__toggle:checked + .menu__btn > span::after {
  background: #fff;
}

.fetti {
  background: transparent 50% 50% no-repeat/contain;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
}

@media only screen and (max-width: 800px) {
  section {
    margin-top: 2.5em;
  }

  #offerings svg {
    height: 1rem;
  }

  #offerings h3 {
    font-size: 0.875rem;
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid #5c5a545d;
  }

  #offerings p {
    font-size: 0.875rem;
    letter-spacing: 0.1px;
    margin-bottom: 3rem;
    padding: 1rem 1rem;
  }

  #offerings div.offering {
    border: 1px solid rgba(163, 154, 143, 0.5);
  }

  #alert {
    margin-top: 0;
  }

  #offerings {
    margin: 1.5rem auto 0;
  }

  #offerings a.button {
    border: 1px solid #5c5a53;
    border-top-color: rgb(163, 154, 143);
    border-left-color: rgb(163, 154, 143);
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    margin: 1rem 0.5em;

    font-size: 80%;
  }

  #offerings {
    gap: 0.75rem;
  }

  .archive-first-child {
    margin: 1rem 0 3rem;
  }

  .archive-list {
    grid-template-columns: inherit !important;
    display: block !important;
    max-width: 100% !important;
  }

  .archive-list article {
    margin-bottom: 3.5em !important;
  }

  h1.slogan {
    width: calc(100% - 2.5rem);
  }

  .extralarge {
    font-size: 2.25rem;
  }

  h1.extralarge {
    margin-top: 0.375em;
    margin-bottom: 0.25rem;
  }

  h1.extralarge {
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 1.15;
  }

  h3.slogan--caption {
    font-size: 1rem;
  }

  h2.extralarge {
    font-size: 1.625rem;

    margin: 0 auto 1.5rem;
  }

  h2.archive--extralarge {
    font-size: 1.625rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .small {
    font-size: 0.75rem;
  }

  .x-small {
  }

  .medium,
  table,
  article {
    font-size: 1.25rem;
  }

  #offerings div.offering {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
  }

  nav#main ul {
    margin: 0rem 0 0 0;
  }

  nav#main a span.emoji {
    margin: 0.25rem 0.5rem;
    height: 60px;
    width: 60px;
    font-size: 2em;
  }

  .emoji img {
    width: 1.75rem;
  }

  #menu__box .emoji img {
    width: 1.125rem;
    margin-top: -0.125rem;
  }

  .page-loader-toggle {
    transform: translateY(33.3vh);
    transition: none;
  }

  #clock__box {
    width: calc(100% - 1rem);

    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    padding: 2.5rem 6rem 1rem 6rem;
    transition: 4s border-radius ease;
    word-break: keep-all;
  }

  #footer__box {
    width: 100%;

    padding: 2.5rem 6rem 1rem 6rem;
    transition: 4s border-radius ease;
  }

  .m {
    display: none;
  }

  .d {
    display: inline-block;
  }

  table {
    min-width: 100%;
  }

  tbody {
    font-size: 1rem;
  }

  .dark-switch {
    cursor: pointer;
    position: inherit;
    top: inherit;
    right: inherit;
    margin-bottom: 1.25rem;
  }

  body.dark .extralarge {
    color: #ccc;
    text-shadow: #5c5a53 -1px -1px 0;
  }

  body.dark .menu__btn > span,
  body.dark .menu__btn > span::before,
  body.dark .menu__btn > span::after {
    filter: invert(1);
  }

  body.dark #menu__toggle:checked + .menu__btn > span::before,
  body.dark #menu__toggle:checked + .menu__btn > span::after {
    background-color: #fff;
  }

  figure.large {
    margin: 2.5em 0;
  }

  figure.large figcaption {
    margin: 0.5em 0 0;
  }

  #about-box {
    margin: 1.5rem auto;
    margin-bottom: 0;
    padding: 0;

    word-break: keep-all;
  }

  .body-box,
  td .box,
  #coloring-box {
    border: 1px solid rgb(163, 154, 143);
    margin: 1.5rem auto;
    margin-bottom: 0;
    padding: 1.5rem 1rem 0.75rem;

    word-break: keep-all;
  }

  .around--image--wrapper {
    grid-template-columns: 1fr;
  }

  .around--image--box {
    padding: 0.875rem;
  }

  table {
    border-spacing: 0 0.75rem;
  }

  .tablesorter-header-inner {
    font-size: 1rem;
  }

  .cellTitle {
    padding: 4px 1rem 4px 0;
    width: 12ch;
  }

  .anchor img {
    width: 5rem;
  }

  .body-box .small,
  #about-box .small {
    margin: 0 0 2rem 0;
  }

  #menu__box {
    margin: 2rem;
    padding: 10% 5rem 10% 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
    align-items: center;
  }

  #menu__box h1 {
    font-weight: 400;
    letter-spacing: -0.2px;
    left: 1.5rem;
  }

  #menu__box a {
    font-size: 1.375rem;
    line-height: 2.25;
  }

  #menu__box .dark-switch {
    font-size: 1.375rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
  }

  .menu__btn {
    width: 3.5rem;
    height: 3.5rem;
    padding: 2rem;

    top: 1rem;
    right: 1rem;
  }

  #menu__toggle:checked + .menu__btn > span {
    content: " ";
    height: 2.5px;
    border-radius: 1rem;
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    content: " ";
    top: 0;
    height: 2.5px;
    border-radius: 1rem;
    transform: rotate(0deg);
  }

  #menu__toggle:checked + .menu__btn > span::after {
    content: " ";
    top: 0;
    height: 2.5px;
    border-radius: 1rem;
    transform: rotate(90deg);
  }
  .menu__btn > span::before {
    content: " ";
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    content: url("../img/svg/horizontal-menu.svg");
  }
  .menu__btn > span::before {
    top: -10px;
  }
  .menu__btn > span::after {
    top: 10px;
  }

  .scroll-to-top {
    right: 1rem;
  }
}

/* archive */

.portal,
.portal.light {
  display: inline-block;
  margin: 2.5em 0 1em;
  width: 450px;
  height: 145px;
}

article {
  text-align: left;
  font-size: 2em;
  line-height: 1.5;
  padding: 1.75em 1.75em 1.6em;
  max-width: 25em;
  margin: 1em auto 3em;
  background: #eee;
  border: 2px solid #998f8f;
  border-left-color: #48433a;
  border-top-color: #48433a;

  position: relative;

  font-size: 1.375rem;
  letter-spacing: 0.2px;
  padding: 1.25rem 1.5rem;
  max-width: 720px;
}

article.twenty-one {
  border: 0;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;

  width: 100%;
  height: auto;
  font-size: 1.5em;
  padding: 2.25em 2em;
  margin: 1em auto;
}

article.twenty-one figure.large {
  margin: 3em -4em 3.5em;
  width: calc(100% + 8em);
}

article.twenty-one h1 {
  margin-bottom: 0;
}

article.twenty-one h2 {
  margin-top: 0.25rem;
  font-size: 1rem;
  opacity: 0.6;

  text-decoration: none;
}

article.twenty-one .outro,
article.twenty-one .series {
  font-size: 0.7em;
}

article.twenty-one figcaption {
  text-align: center;
  display: block;
  font-family: monospace;
  opacity: 0.6;
  font-style: normal;
  font-size: 0.7em;
}

.archive-list {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 1.25rem;
}

.archive-list article {
  padding: 1rem 1.25rem;

  font-size: 1.375rem;
  letter-spacing: 0.2px;
}

.archive-list article h2 {
  word-wrap: anywhere;
}

.archive-list article h3 {
  font-size: 0.875rem !important;
}

.archive-list article p {
  font-size: 1rem;
  word-wrap: anywhere;
}

.archive-list figure.large {
  margin: 0;
  width: 100%;
}

.archive-list figure.large img {
  border-radius: 0;
}

.archive-list figure.large figcaption {
  margin: 1em 2.5em 0em;
}

.archive-first-child a.button,
.archive-list a.button,
footer a.button {
  display: inline-block;
  margin-top: 3em;
  border: 1.5px dashed rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.6);
  border-right-color: rgba(0, 0, 0, 0.6);
}

.archive-first-child a:active.button,
.archive-list a:active.button,
footer a:active.button {
  border-color: rgba(0, 0, 0, 0.6);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-right-color: rgba(0, 0, 0, 0.25);
  background: transparent;
}

article.twenty-one h2 {
  font-weight: 600;
  opacity: 1;
  margin-bottom: 0;
}

article.twenty-one h3 {
  margin-top: 0.25rem;
  font-size: 1em;
  text-decoration: none;
}

body.dark article.twenty-one,
body.dark article.twenty-one a {
  color: #000;
}

body.dark article.twenty-one .metadata,
body.dark article.twenty-one .metadata a,
body.dark .metadata time {
  color: #ccc;
}

article blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  padding-left: 2em;
  border-left: 2px solid #534e44;
  /* margin: 2em 0; */
}

.footnote {
  font-size: 0.75em;
}

article p {
  margin: 1.25em 0;
}

article hr {
  border: 0;
  border-bottom: 1px solid #534e44;
}

article h1,
article h2,
article h3 {
  margin-bottom: 1em;
  margin-top: -0.25em;
  font-size: 1.25em;
  line-height: 1.35;
}

article h1 {
  font-size: 1.75em;
  font-weight: normal;
}

article h1 a {
  text-decoration: none;
}

article h2 {
  margin-top: 2em;
  text-decoration: underline;
}

article h3 {
  margin-top: 0.25em;
  font-size: 1.125rem;
  text-decoration: none;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

article a {
  color: var(--main-text-color);
}

.metadata {
  position: absolute;
  top: -3em;
  left: 0;
  right: 0;
  text-align: center;
}

.metadata *,
.metadata a * {
  display: inline-block;
}

.metadata a {
  text-decoration: none;
  color: var(--main-text-color);
}

.metadata .emoji {
  margin-left: 0.15em;
  font-size: 1.25em;
  vertical-align: -0.1em;
  filter: grayscale(1);

  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.archive-first-child .metadata .emoji {
  filter: none;
}

.metadata .emoji:hover {
  background: transparent !important;
}

.metadata .bullet {
  margin: 0 0.5em;
}

h3 {
  font-weight: normal;
  font-size: 2em;
}

.metadata time {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
}

footer.archive {
  margin-top: 6em;
  padding: 1em;
  text-align: center;
}

footer.archive img {
  border-radius: 50%;
  border: 2px solid #998f8f;
  border-right-color: #48433a;
  border-bottom-color: #48433a;
}

/***************************

footer.archive img:active,
footer.archive img:focus {
    border: 2px solid #998f8f;
    border-left-color: #48433A;
    border-top-color: #48433A;
}

*****************************/

.previous-posts a:visited.button {
  color: #2d2c2a;
}

a.no-style {
  text-decoration: none;
}

/* 
@media only screen and (max-width: 413px)
{

}

@media only screen and (min-width: 414px) and (max-width: 800px) { */

@media only screen and (max-width: 800px) {
  article {
    margin: 2em auto 4em;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-size: 1rem;
  }

  article h2 {
    font-size: 1rem;
  }

  article h3 {
    font-size: 0.875rem;
  }

  article.twenty-one {
    font-size: 1em;
    padding: 0.75rem 1rem;
    margin: 2em auto 4em;

    box-shadow: none;
  }

  .metadata {
    top: -3.25em;
  }

  article.twenty-one figure.large {
    margin: 1em -2em 1.5em;
    width: calc(100% + 4em);
  }

  article.twenty-one figure.large figcaption {
    margin: 1em 2.5em 0em;
  }

  .portal {
    width: 285px;
    height: 95px;
  }

  .dark-switch.desktop {
    display: none;
  }

  #loader {
    margin: 0;
    display: inline-block;
    max-width: calc(100% - 5px);
  }
}

/* ARCHIVE ON HOME */

article h2 {
  font-weight: 600;
  margin: 0 auto;
  text-decoration: none;
}

article h2 a {
  text-decoration: none;
}

/* effect section */

.scroll-effect-box {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 auto;

  position: relative;
}

.content__title {
  display: grid;

  counter-increment: section;
  text-align: center;
}

@supports (display: grid) {
  .splitting.cells {
    visibility: hidden;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  .splitting .cell-grid {
    background: inherit;
    width: 100%;
    height: 100%;
    grid-template: repeat(var(--row-total), 1fr) / repeat(var(--col-total), 1fr);
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
  }

  .splitting .cell {
    background: inherit;
    position: relative;
    overflow: hidden;
  }

  .splitting .cell-inner {
    background: inherit;
    visibility: visible;
    width: calc(100% * var(--col-total));
    height: calc(100% * var(--row-total));
    left: calc(-100% * var(--col-index));
    top: calc(-100% * var(--row-index));
    position: absolute;
  }

  .splitting .cell {
    --center-x: calc((var(--col-total) - 1) / 2);
    --center-y: calc((var(--row-total) - 1) / 2);
    --offset-x: calc(var(--col-index) - var(--center-x));
    --offset-y: calc(var(--row-index) - var(--center-y));
    --distance-x: calc((var(--offset-x) * var(--offset-x)) / var(--center-x));
    --distance-y: calc((var(--offset-y) * var(--offset-y)) / var(--center-y));
  }
}

.splitting .word,
.splitting .char {
  display: inline-block;
}

.splitting .char {
  position: relative;
}

.splitting .char:before,
.splitting .char:after {
  content: attr(data-char);
  visibility: hidden;
  -webkit-user-select: none;
  user-select: none;
  transition: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.splitting {
  --word-center: calc((var(--word-total) - 1) / 2);
  --char-center: calc((var(--char-total) - 1) / 2);
  --line-center: calc((var(--line-total) - 1) / 2);
}

.splitting .word {
  --word-percent: calc(var(--word-index) / var(--word-total));
  --line-percent: calc(var(--line-index) / var(--line-total));
}

.splitting .char {
  --char-percent: calc(var(--char-index) / var(--char-total));
  --char-offset: calc(var(--char-index) - var(--char-center));
  --distance: calc(
    (var(--char-offset) * var(--char-offset)) / var(--char-center)
  );
  --distance-sine: calc(var(--char-offset) / var(--char-center));
  --distance-percent: calc((var(--distance) / var(--char-center)));
}

@media (min-width: 2400px) {
  #clock__box {
    padding: 200px 80px;
  }

  h1.slogan {
    width: 1200px;
  }

  nav#main a span.emoji {
    height: 140px;
    width: 140px;
    font-size: 3em;
  }

  article {
    max-width: 840px;
  }

  #offerings {
    max-width: 1280px;
  }

  .archive-list,
  #about-box,
  .body-box,
  td .box,
  #coloring-box {
    max-width: 1800px;
  }

  article.twenty-one {
    margin: 2em 0;
  }

  a.button,
  .button {
    padding: 0.5rem 24px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    line-height: 1;
    font-size: 1.5rem;
  }

  #menu__box a {
    font-size: 4rem;
  }

  #menu__box .dark-switch {
    font-size: 4.5rem;
  }
}

@media (orientation: portrait) {
  .for-landscape {
    display: none;
  }
}

@media (orientation: landscape) {
  .for-landscape {
    display: block;
  }
}

@media (prefers-reduced-motion: reduce) {
  #clock__box {
    transition: none;
  }

  .for-landscape {
    display: none;
  }

  #seconds {
    display: none;
  }
}
